.slick-slide {
  margin-left: 15px;
  margin-right: 15px;
}

.slider-container {
  margin: 0 auto;
  width: 80%;
}

.slick-arrow {
  top: 50%;
  height: 26px;
  width: 14px;
  margin-top: -13px;
  position: absolute;
  font-size: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  background-image: url(https://tarkikromanski.github.io/files/arrow-slider.png);
  background-repeat: no-repeat;
}
.slick-disabled {
  opacity: 50%;
  pointer-events:none;
}
.slick-prev {
  left: -50px;
  transform: rotate(180deg);
}
.slick-next {
  right: -50px;
}
.slick-prev:before {
  content: '\f053';
  color: #e65a5a !important;
}
.slick-next:before {
  content: '\f054';
  color: #e65a5a !important;
}

/* slick dots */
.slick-dots {
  position: absolute;
  bottom: -45px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  display: none;
}
.slick-dots li:before {
  top: 1px;
  transition: all 0.5s;
  content: '';
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  position: absolute;
}
.slick-dots li.slick-active:before {
  top: 0;
  width: 8px;
  height: 8px;
  margin-left: -2px;
  background-color: #964848;
}

.card-heading {
  font-size: 20px;
  color: #E7E7E7;
}
.card-font {
  font-size: 15px;
  color: #E7E7E7;
}
.card-color {
  background-color: #232343;
}
.card-img-top {
  width: 100%;
  height: 100%;
}